.dataframe {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 5px;
}
td {
  padding: 7px;
  border: #000 1px solid;
}
th {
  background: white;
}
/* tr {
    background: #b8d1f3;
  } */
/*  Define the background color for all the ODD background rows  */
tr:nth-child(odd) {
  background: #eeeeee;
}
/*  Define the background color for all the EVEN background rows  */
/* tr:nth-child(even) {
    background: #eeeeee;
  } */
